<%- include('./partials/head') %>
<%- include('./partials/nav') %>

<section id="addSec" class="main">
    <h2 class="secTitle">Add a new product</h2>
    <hr id="line-short">

    <form action="/add" method="POST">
        <input type="text" name="productName" placeholder="Product-name">
        <input type="text" name="pictureLink" placeholder="Url Picture">
        <input type="text" name="company" placeholder="Company">
        <input type="number" name="price" placeholder= "Price in $">
        <textarea name="description" id="description" cols="30" rows="6" placeholder="Write your article here..."></textarea>

        <input type="text" name="shopLink" placeholder="Link-shop">

        <input type="submit" value="Add Product">
    </form>
</section>

<section id="eyes">
    <section class="eye eyeLeft">
        <section></section>
    </section>

    <section class="eye eyeRight">
        <section></section>
    </section>
</section>

<section id="randomSec" class="main">
    <h2 class="secTitle">Random products</h2>

    <section class="random-products">
        <% randomData.forEach(product => { %>
            <figure class="random__fig">
                <a href="/details/<%= product.id %>" target="_blank">
                    <img class="random__img" src=<%= product.pictureLink %> alt="">
                </a>
                <figcaption>
                    <a class="fig__link" href="/single/<%= product.id %>" target="_blank">
                        <%= product.productName %>
                        <span class="company"><%=product.company %></span>
                    </a>
                    <p class="price">$<%= product.price %></p>
                </figcaption>
            </figure>
        <% }) %>
    </section>
</section>

<%- include('./partials/footer')%>