<%- include('./partials/head') %>
<%- include('./partials/nav') %>
<h1>Index</h1>

<section class="main-section">
<% productData.forEach(product => { %>
    <figure>
        <a href="/details/<%= product.id %>" target="_blank">
            <img src=<%= product.pictureLink %> alt="">
        </a>
        <figcaption>
            <a class="fig__link" href="/single/<%= product.id %>" target="_blank">
                <%= product.productName %>
                <span class="company"><%= product.company %></span>
            </a>
            <p class="price"><%= product.price %></p>
        </figcaption>
    </figure>

<% }) %>
<%- include('./partials/footer')%>