<%- include('./partials/head') %>
<%- include('./partials/nav') %>

<section id="homeSec" class="main">
    <% productData.forEach(product => { %>
        <figure class="home__fig">
            <a href="/details/<%= product.id %>" target="_blank">
                <img class="home__img" src=<%= product.pictureLink %> alt="">
            </a>
            <figcaption>
                <a class="fig__link" href="/single/<%= product.id %>" target="_blank">
                    <%= product.productName %>
                    <span class="company"><%= product.company %></span>
                </a>
                <p class="price"><%= product.price %></p>
            </figcaption>
        </figure>
    <% }) %>
</section>

<%- include('./partials/footer')%>